<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bloom">
      <h2 data-cy="bloomDetailsHeading"><span jhiTranslate="matrixApp.bloom.detail.title">Bloom</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="matrixApp.bloom.id">Id</span></dt>
        <dd>
          <span>{{ bloom.id }}</span>
        </dd>
        <dt><span jhiTranslate="matrixApp.bloom.nivel">Nivel</span></dt>
        <dd>
          <span>{{ bloom.nivel }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/bloom', bloom.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
